@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #222;
    /* padding-bottom: 50px; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .logo {
    color: #fff;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: #000;
}

.nav.active .container {
    padding: 10px;
}

.nav a.current,
.nav a:hover {
    color: #c0392b;
    font-weight: bold;
}

.spacer-top {
    margin-top: 72px;
}

.first-container .container {
    /* background-color: #888; */
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-container {
    width: 300px;
}

.hero-heading {
    font-size: 2.5rem;
    padding: 25px 0;
    text-align: center;
    margin: 0 auto;
}

.image {
    margin: 0 auto;
    width: 100%;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

.card-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    justify-content: space-evenly;
}

.card {
    width: 250px;
    border: 1px solid #222;
    border-radius: 5px;
    margin: 15px 15px;
    padding: 15px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

.second-container {
    /* padding-top: 75px; */
    margin-top: 75px;
    background: url('https://picsum.photos/1920') center center / cover no-repeat;
}

.second-container .container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 0 50px;
    padding-top: 50px;
}

.article-heading {
    color: #fff;
    font-size: 2.5rem;
    padding: 25px 0;
    text-align: center;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-between;
}

.article {
    padding: 15px;
    width: 30%;
}

.article h4 {
    font-size: 1.25rem;
    padding-bottom: 15px;
}

.margin {
    width: 1px;
    height: 750px;
    vertical-align: middle;
    background-color: #888;
}

footer {
    background-color: #222;
    height: 75px;
}

footer .container {
    height: 100%;
}

footer h5 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

.separator {
    display: none;
}

@media only screen and (max-width: 895px) {
    .card {
        width: 350px;
    }

    .article {
        width: 100%;
    }

    .margin {
        display: none;
    }

    .separator {
        width: 75%;
        height: 1px;
        background-color: #888;
        display: block;
        margin: 15px auto;
    }
}
